body{
    font-family: Arial, sans-serif;
    background-color: rgb(127, 150, 253);
}

header{

    text-align: center;
}

header img{
    margin-top: 50px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
}

section{
    margin: 20px;
    border-radius: 20px;
}

.project {
    width: 200px;
    height: 200px;
    border: 1px solid #000000;
    display: inline-block;
    text-align: center;
    line-height: 200px;
}

h1, h2 {
    color: #333;
}

#bio, #work {
    background-color: #ebcdcd;
    padding: 15px;
}

footer {
    background-color: #ebcdcd;
    text-align: center;
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
}